<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div id="app">
        <input type="text" name="" v-model="producto.nombre" @keyup.enter="agregarProducto">
        <button @click="agregarProducto()"> Agregar</button>

        <p v-for="producto in productos">
            <input type="number" v-model="producto.cantidad">
            <button @click="producto.cantidad++">+</button>
            <button @click="producto.cantidad--">-</button>

            {{producto.nombre}} 
            {{producto.cantidad}} 

            <span v-if="producto.cantidad <= 0">Sin stock</span>


        </p>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>